{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>My Portfolios</h1>
    <ul class="list-group">
        {% for portfolio in portfolios %}
            <li class="list-group-item">
                <a href="{{ url_for('view_portfolio', portfolio_id=portfolio.id) }}">{{ portfolio.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_portfolio') }}" class="btn btn-primary mt-3">Create New Portfolio</a>
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Go Back</a>
</div>
{% endblock %}
